body{
    background-color: #3796ab;
}

h1{
    border: 1px solid black;
}

h2{
    color: purple;
}

input{
    border: 2px solid rgb(99, 31, 43)
}

#textblock{
    border: 5px solid gray;
    width: 800px;
    height: 400px;
}

div p{
    background-color: yellow;
}

a[href="http://www.google.com"]{
    color: red;
}

a:visited{
    color: blue;
}

#itemone{
    text-decoration: overline;
    color: purple;
}

.exit{
    background-color: blue;
    border: 4px dashed yellow ;
}